*{ box-sizing: border-box;}
             a{color: inherit; text-decoration: none}
             a:hover{text-decoration: underline; color: #0C61B3;}
             body{padding:0; margin:0; font-family: arial; font-size: 12px; min-height: 100%;}
             main{
                 width:100%;
                 min-height:100vh;
 
                 margin: 0 auto;
                 
                 display:flex;
                 justify-content:center;
                 align-items:center;
                 flex-flow:column wrap;
                 
             }
             
             main .login{
                 width:350px;
                 height:auto;
                 border:1px solid #999;
                 background-color:#EDEDED;
                 
                 padding:60px 20px;
                 
                 display:flex;
                 justify-content:center;
                 align-items:center;
                 flex-flow:column wrap;
             }
             
             
             main .login input[type="text"], input[type="email"], main .login input[type="password"] {
                 width:90%;
                 margin:5px 0px;
                 padding:10px;
 
                 border-radius: 2px;
                 border: 1px solid #0C61B3 !important;
                 color: #0C61B3;
             }
             
             main .login .logo{
                 width:175px;
                 height:140px;
 
                 background:url("img/logo_login.png") no-repeat center center;
                 margin-bottom: 20px;                
                 padding:20px;
             }
 
             main #box-blue{
                 width: 100%;
                 height: 180px;
                 background-color:#0C61B3;
 
                 position: absolute;
                 z-index: -1;
             }
             
             main nav{
                 width:100%;
                 height:auto;
             }
 
             main nav ul{
                 width:100%;
                 height:auto;
 
                 list-style: none;
                 display: flex;
                 justify-content: center;
                 padding: 0px;
                 margin:0px;
             }
 
             main nav ul li{
                 margin:0px 20px;
             }
             
 
             /* CLASSES GENERICAS */
             main .btn{
                 padding: 5px 20px !important; 
                 height: auto;
                 border-radius: 2px;
                 height: auto;
                 border: 1px solid #0C61B3 !important;
                 color: #0C61B3;
                 text-transform: uppercase;
                 margin-top: 15px;
             }
 
             main .btn:hover{
                 border: 1px solid #0C61B3 !important;
                 background-color: #0C61B3;
                 color: #fff;
             }
 
             main .btn-login{
                 margin-top: 15px;
                 margin-bottom: 25px;
                 padding: 10px 30px; 
             }
 
             main .nav-footer{
 
                 height: 60px;
                 position: absolute;
                 bottom: 0;
 
                 display: flex;
                 align-items: center;
 
                 align-self: flex-end;
                 background-color:#EDEDED;
 
                 color: #999;
             }
 
 
 
             .principal{
                 width: 100%;
                 height: 80px;
                 border-bottom: 1px solid #0C61B3;
 
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
                 padding: 20px;
             }
 
             .principal .logo{
                 width: 250px;
                 height: 50px;
 
                 background:url("img/logo_principal.png") no-repeat center left;
                 background-size: auto 100%;
             }
 
             .principal ul{
                 width: 50%;
                 height: 50px;
                 display: flex;
                 align-items: center;
                 font-size: 15px;
                 font-weight: bold;
             }
 
             .principal #user{
                 width: 250px;
                 height: 50px;
                 align-items: center;
                 font-size: 15px;
                 font-weight: bold;
 
                 display: flex;
                 justify-content: center;
                 align-content: center;
 
                 border:1px solid #e4e4e4;
             }
 
 
             
             .box-content{
                 width: 100%;
                 height: calc(100vh - 80px) !important;
 
                 display: flex;
                 justify-content: space-between;
             }
 
 
             .one{
                 width: 25%;
                 height: 100%;
                 max-height: 100%;
 
                 overflow: auto;
                 font-size: 16px;
 
                 padding: 20px;
 
                 display: flex;
                 flex-flow: row wrap;
                 justify-content: flex-start;
                 align-content: flex-start
             }
 
             .two{
                 width: 20%;
                 height: 100%;
                 max-height: 100%;
 
                 overflow: auto;
                 font-size: 16px;
 
                 padding: 20px;
 
                 display: flex;
                 flex-flow: row wrap;
                 justify-content: flex-start;
                 align-content: flex-start
             }
 
 
              .three{
                 width: 40%;
                 height: 100%;
                 max-height: 100%;
 
                 overflow: auto;
                 font-size: 16px;
 
                 padding: 20px;
 
                 display: flex;
                 flex-flow: row wrap;
                 justify-content: flex-start;
                 align-content: flex-start
             }
 
              .three .box{margin-bottom: 20px;}
              .three iframe{
                 width: 100%;
                 height:180px;
                 background-color: #333;
 
             }
 
 
              .box{
                 width: 100%;
                 height: auto;
 
                 display: flex;
                 flex-flow: row wrap;
                 justify-content: flex-start;
                 margin-bottom: 20px;
              }
              .box span{
                 width: 100%;
             }
 
              .box ul{
                 width: 100%;
              }
 
              .box ul li{
                 margin: 10px 0px;
                 padding: 10px;
              }
